# هدایت پکیج‌ها به یک مخزن پایدار و بدون تحریم (Mirror)
registry=https://registry.npmmirror.com/

# ذخیره تمام پکیج‌های دانلود شده در یک پوشه مخفی داخل همین پروژه (برای استفاده آفلاین)
store-dir=.pnpm-store

# افزایش زمان تایم‌اوت برای اینترنت‌های ضعیف
fetch-retries=5
fetch-retry-maxtimeout=120000